html, body {
    background-color: #020103;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* *{
    border: 1px solid red !important;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

a {
    text-decoration: none;
    color: #FFFFFF99;
}

.hamburger{
    display: none;
}

.nav-img-logo {
    height: 2.7rem;
}

.navbar {
    width: 100%;
    padding-top: .8125rem;
    padding-bottom: .8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    gap: 4.625rem;
}

.nav-links {
    width: 32rem;
    height: 2.625rem;
    gap: 1.875rem;
    display: flex;
    justify-content: center;
    border: .0625rem solid #FFFFFF26;
    border-radius: 3.75rem;
    align-items: center;
}

.CTA {
    width: 7rem;
    gap: .625rem;
    opacity: 1;
    border-radius: .75rem;
    border-width: .0625rem;
    padding: .375rem;
    border: .0625rem solid #FFFFFF26
}

.CTA-inner {
    width: 5rem;
    gap: .625rem;
    opacity: 1;
    border-radius: .5rem;
    border-width: .0625rem;
    padding-top: .125rem;
    padding-right: .9375rem;
    padding-bottom: .125rem;
    padding-left: .9375rem;
    color: #FFFFFF99;
    border: .0625rem solid #FFFFFF26;
    box-shadow: 0rem 0rem .375rem .1875rem #FFFFFF40 inset;
    backdrop-filter: blur(.875rem);
    background: #8C45FF66;
}

.JW {
    width: 5rem;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: .875rem;
    line-height: .3125rem;
    letter-spacing: -0.01%;
    text-align: center;
    vertical-align: middle;
}

/* section hero */

.hero {
    width: 100%;
    gap: .625rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.badgeM {
    width: fit-content;
    gap: 1.25rem;
    opacity: 1;
    border-radius: 3.125rem;
    border-width: .0625rem;
    /* padding-top: .5rem; */
    padding-right: .875rem;
    padding-left: .875rem;
    background: #000000;
    border: .0625rem solid #FFFFFF26;
    display: flex;
    align-items: center;
    margin-top: 10%;
}


.badgeM-New-btn {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: .625rem;
    line-height: 1.625rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    border-radius: 1.875rem;
    background-color: #9855FF;
    width: 2.5rem;
    height: 1.75rem;
}

.badgeM-p {
    opacity: 1;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    color: #9855FF;

}


.Frame32 {
    width: 70%;
    gap: 1rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading1 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(179, 114, 207, 1) 100%);
    /* -webkit-background-clip: text; */
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    font-family: Inter;
    font-weight: 500;
    font-size: 6.125rem;
    line-height: 5.25rem;
    letter-spacing: -5.06%;
    text-align: center;
    margin-bottom: .9375rem;
    margin-top: .625rem;
    padding-bottom: 2%;
}

.Body {
    color: aliceblue;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    letter-spacing: -0.01%;
    text-align: center;
    width: 72%;
}

.btn {
    width: 7.5625rem;
    gap: .5rem;
    opacity: 1;
    border-radius: .5rem;
    padding-top: .3125rem;
    padding-right: .9375rem;
    padding-bottom: .3125rem;
    padding-left: .9375rem;
    background: rgba(255, 255, 255, 1);
}

.rectangle4 {
    width: 91;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: .9375rem;
    line-height: 1.9375rem;
    letter-spacing: -1.01%;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
}

.App {
    width: 90%;
    opacity: 1;
    margin-top: 5%;
    padding: 1.5%;
    /* left: 2.5rem; */
    border-radius: .625rem;
    border-width: .0625rem;
    background: linear-gradient(270deg, #0D0718 0%, rgba(15, 8, 27, 0) 47.85%, #0B0614 100%);
    border: .0625rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0rem -1.1875rem 4.375rem 0rem rgba(140, 69, 255, 0.4),
        0rem -1.25rem 4.375rem 0rem rgba(140, 69, 255, 0.25),
        0rem 0rem 1.875rem rgba(0, 150, 255, 0.2);
    position: relative;
}

.MaskImage {
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
    border-width: .0625rem;
    border: .0625rem solid rgba(255, 255, 255, 0.1)
}

.blackshade {
    width: 96%;
    height: 40%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgb(0 0 0 / 76%) 3.8%, #050208 86.04%);
    top: 60%;
}

.companies-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    gap: 1.875rem;
}

.companies-p {
    color: #FFFFFF99;
    font-size: 1.25rem;
}

.logos-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: .625rem;
    gap: .625rem;
    width: 80%;
    display: grid;
    margin: 0 auto;
}

.logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .0625rem solid #FFFFFF26;
    border-radius: .625rem;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: .0313rem;
}

.grid-image {
    object-fit: contain;
    width: 60%;
    height: 6.25rem;
}

.Bento {
    padding: 5rem 3.125rem 5rem 3.125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Bento-p {
    color: rgba(255, 255, 255, 1);
    width: 53%;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.75rem;
    line-height: 2.375rem;
    letter-spacing: -0.04%;
    vertical-align: middle;
}

.Bento-1 {
    width: 95%;
    padding-left: 4%;
    border: .0625rem solid rgba(255, 255, 255, 0.15);
    gap: .625rem;
    display: flex;
    flex-direction: row;
}

.SEO {
    width: 31%;
    border-right: .0625rem solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
}

.div-image-cyl {
    width: 100%;
}

.img-cyl {
    object-fit: cover;
    width: 100%;
}


.SEO p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.9375rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    text-align: left;

}

.class-p {
    width: 80%;
}


.SEO span {
    font-family: Inter;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
}

.User-friendly {
    width: 67.5%;
    border: .0625rem solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.image-div {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 10%;
}

.User-friendly img {
    width: 100%;
    object-fit: cover;
    border: .0625rem solid rgba(255, 255, 255, 0.1);
}

.rectangle-7 {
    position: absolute;
    background: linear-gradient(179.77deg, rgba(3, 1, 6, 0) 29.33%, #361764 89.04%);
    width: 100%;
    height: 50%;
    z-index: 1;
    bottom: 0;
}

.rectangle-9 {
    position: absolute;
    background: linear-gradient(179.77deg, rgba(3, 1, 6, 0) 29.33%, #361764 89.04%);
    width: 100%;
    height: 50%;
    z-index: 1;
    bottom: 0;
}

.text {
    position: absolute;
    top: 63%;
    width: 16.1875rem;
    margin-left: 10%;
    z-index: 1;
}

.text p {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.9375rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.text span {
    font-family: Inter;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -0.01%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
}

/* Bento-2 */

.Bento-2 {
    width: 99%;
    margin-inline: 4%;
    border: .0625rem solid rgba(255, 255, 255, 0.15);
    gap: .625rem;
    display: flex;
    flex-direction: row;
}

.User-friendly-2 {
    width: 67.5%;
    border: .0625rem solid rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    flex-direction: row;
}

.rectangle-7a {
    position: absolute;
    background: linear-gradient(179.77deg, rgba(3, 1, 6, 0) 29.33%, #361764 89.04%);
    width: 100%;
    height: 50%;
    z-index: 1;
    bottom: 0;
}

.rectangle-9b {
    position: absolute;
    background: linear-gradient(179.77deg, rgba(3, 1, 6, 0) 29.33%, #361764 89.04%);
    width: 100%;
    height: 50%;
    z-index: 1;
    bottom: 0;
}

 .image-div1 {
    position: absolute;
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
}

.image-div1 img {
    width: 80%;
    object-fit: cover;
    border: .0625rem solid rgba(255, 255, 255, 0.1);
}

.text1 {
    position: absolute;
    top: 63%;
    width: 16.1875rem;
    margin-right: 10%;
    z-index: 1;
    left: 6%;
}

.text1 p {
    color: rgba(255, 255, 255, 1);
    left: 5%;
}

.text1 span {
    color: rgba(255, 255, 255, 0.7);
}

.SEO-2 {
    width: 31%;
    border-right: .0625rem solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
}

.div-image-conus {
    width: 100%;
}

.img-conus {
    object-fit: cover;
    width: 100%;
}

.class-p1 {
    width: 80%;
}

.class-p1 p {
    color: rgba(255, 255, 255, 1);
}

.class-p1 span {
    color: rgba(255, 255, 255, 0.7);
}

/* feature section */

.feature {
    flex-direction: column;
    width: 97%;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 0 0 auto;
    border: .0625rem solid;
    border-block-color: #ffffff26;
    background: linear-gradient(134deg, rgba(25, 13, 46, 1) 0%, rgba(2, 1, 3, 1) 100%);
    position: relative;
    display: flex;
    padding-left: 3%;
}

.heading-3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.0625rem;
    letter-spacing: -1.5%;
    vertical-align: middle;
    width: 36%;
    color: rgba(255, 255, 255, 1);
    /* padding-top: 76px;
    padding-left: 1rem; */
}

.frame-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}

.frame-4 {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
}

.AI-kit-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3125rem;
}

.frame-5 {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
    left: 5%;
}

.img-2 {
    width: 1rem;
    height: 1rem;
    top: 15%;
    left: -10%;
    position: absolute;
}

.text-wrapper-11 {
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: "Inter", Helvetica;
    /* font-weight: 400; */
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    letter-spacing: -0.0016;
    line-height: 1.625rem;
    white-space: nowrap;
    font-style: normal;
    margin-top: 0%;
}

.text-wrapper-12 {
    display: flex;
    align-items: center;
    width: 16.1875rem;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    letter-spacing: -0.0001rem;
    font-style: normal;
    margin-top: 0%;
}

.frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 33%;
}

.AI-kit-feature-2 {
    display: flex;
    /* width: 20.125rem; */
    flex-direction: column;
    align-items: flex-start;
    gap: .3125rem;
    flex: 0 0 auto;
}

.text-wrapper-13 {
    display: flex;
    align-items: center;
    width: 16.5625rem;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    font-style: normal;
    margin-top: 0%;
}

.text-wrapper-14 {
    display: flex;
    align-items: center;
    width: 20.125rem;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    font-style: normal;
    margin-top: 0%;
}

.AI-kit-feature-3 {
    display: flex;
    /* width: 20.0625rem; */
    flex-direction: column;
    align-items: flex-start;
    gap: .1875rem;
    flex: 0 0 auto;
}

.text-wrapper-15 {
    display: flex;
    align-items: center;
    width: 20.0625rem;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    font-style: normal;
    margin-top: 0%;
}

.frame-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 33%;
}


:root {
    --bg-color: #000000;
    --text-white: #FFFFFF;
    --text-muted: rgba(255, 255, 255, 0.7);
    --accent-glow: rgba(140, 69, 255, 0.5);
}

.clients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 1.25rem;
    gap: 1.75rem;
    isolation: isolate;
    width: 96%;
    /* height: 45.1875rem; */
    background-color: var(--bg-color);
    margin: 0 auto;
}

.header-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
}

.heading {
    width: 18.0625rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.0625rem;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--text-white);
    margin: 0;
}

.subtext {
    width: 27.0625rem;
    height: 3.875rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    text-align: center;
    letter-spacing: -0.0001em;
    color: var(--text-white);
    margin: 0;
}

/* Avatar */
.avatar {
    position: absolute;
    left: 20.4%;
    top: 21.45%;
    width: 21.92%;
    height: 54.11%;
    border-radius: 1.25rem;
    z-index: 2;
}

.avatar-container {
    position: absolute;
    left: 20.4%;
    top: 21.45%;
    width: 22%;

    border-radius: 1.25rem;
    overflow: hidden;
    z-index: 2;
}

.avatar-img {
    width: 100%;
    object-fit: cover;
}

/* Purple Glow */
.glow-effect {
    position: absolute;
    width: 13.6875rem;
    height: 13.625rem;
    left: 12.625rem;
    top: 5.4375rem;
    background: var(--accent-glow);
    filter: blur(4rem);
    z-index: 0;
}

/* Content Frame */
.content-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.25rem;
    position: absolute;
    width: 21.1875rem;
    left: 34.625rem;
    top: 22rem;
    z-index: 3;
}

.quote {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5313rem;
    line-height: 2.125rem;
    letter-spacing: -0.0001em;
    color: var(--text-white);
    margin: 0;
}

.author-meta .name {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-white);
}

.author-meta .role {
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    line-height: 1.625rem;
    color: var(--text-muted);
    margin: 0;
}

.testimonial-container {
    position: relative;
    width: 90%;
    max-width: 61.875rem;
    height: 25.0625rem;
    margin: 0 auto;
    overflow: hidden;
    left: -4;;
}


.line {
    position: absolute;
    background-color: #EAEAEA;
    opacity: 0.6;
    z-index: 1;
}

.line-v {
    width: .0625rem;
    height: 100%;
    top: 0;
    border: .0625rem solid;
    background: linear-gradient(0deg, #141315 0%, #FFFFFF 16.5%, #EAEAEA 86.5%, #020103 100%);
}

.line-1 {
    left: 20.4%;
}

.line-2 {
    left: 42.32%;
}

.line-h {
    height: .0625rem;
    width: 100%;
    left: 0;
    border: .0625rem solid;
    background: linear-gradient(90deg, #141315 0%, #FFFFFF 16.5%, #EAEAEA 86.5%, #020103 100%);
}

.line-3 {
    top: 21.45%;
}

.line-4 {
    top: 75.56%;
}

.text-content {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
}


/* pricing Section */
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .875rem 8.0625rem;
    position: relative;
    flex: 0 0 auto;
    background: radial-gradient(50% 50% at 50% 62%, rgba(86, 41, 157, 0) 0%, rgba(2, 1, 3, 1) 100%);
}

.frame-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.9375rem;
    position: relative;
    flex: 0 0 auto;
}

.frame-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.heading-4 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 3.5rem;
    line-height: 4.0625rem;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);

}

.text-wrapper-16 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    letter-spacing: -0.01%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 52%;
}

.frame-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.15rem;
    position: relative;
    flex: 0 0 auto;
}

.pricing-card {
    position: relative;
    width: 19.1875rem;
    height: 31.25rem;
    background-color: #0000000f;
    border-radius: .625rem;
    border: .0625rem solid;
    border-color: #ffffff26;
}

.CTA-2 {
    display: flex;
    width: 86.97%;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    padding: .375rem .9375rem;
    position: absolute;
    height: 7.6%;
    top: 88.4%;
    left: 6.51%;
    background-color: #3d3d3d66;
    border-radius: .625rem;
    overflow: hidden;
    border: .0625rem solid;
    border-color: #ffffff26;
    box-shadow: inset 0rem 0rem .375rem .1875rem #ffffff40;
    backdrop-filter: blur(.4375rem) brightness(100%);
    -webkit-backdrop-filter: blur(.4375rem) brightness(100%);
}

.text-wrapper-20 {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: -0.0625rem;
    font-family: var(--body-s-font-family);
    font-weight: var(--body-s-font-weight);
    color: #ffffff;
    font-size: var(--body-s-font-size);
    letter-spacing: var(--body-s-letter-spacing);
    line-height: var(--body-s-line-height);
    white-space: nowrap;
    font-style: var(--body-s-font-style);
}

.line-5 {
    position: absolute;
    width: 86.97%;
    height: 0;
    top: 20.4%;
    left: 6.51%;
    border: .0625rem solid rgba(40, 39, 41, 1);
}

.frame-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.frame-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .375rem;
    position: relative;
    flex: 0 0 auto;
}

.text-wrapper-21 {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: -0.0625rem;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: -0.0006rem;
    line-height: 1.9375rem;
    white-space: nowrap;
}

.text-wrapper-22 {
    position: relative;
    display: flex;
    align-items: center;
    width: 9.1875rem;
    font-family: var(--body-m-font-family);
    font-weight: var(--body-m-font-weight);
    color: #ffffffb2;
    font-size: var(--body-m-font-size);
    letter-spacing: var(--body-m-letter-spacing);
    line-height: var(--body-m-line-height);
    font-style: var(--body-m-font-style);
}

.pricing-rows {
    display: flex;
    flex-direction: column;
    width: 10.1875rem;
    align-items: flex-start;
    position: relative;
    padding-left: 0;
}

.pricing-row {
    display: flex;
    align-items: center;
    gap: .3125rem;
    padding: .625rem 0rem;
    position: relative;
    flex: 0 0 auto;
}

.icons {
    position: relative;
    width: .9375rem;
    height: .9375rem;
}

.text-wrapper-23 {
    position: relative;
    display: flex;
    align-items: center;
    width: 8.9375rem;
    height: .75rem;
    font-family: var(--body-s-font-family);
    font-weight: var(--body-s-font-weight);
    color: #ffffff;
    font-size: var(--body-s-font-size);
    letter-spacing: var(--body-s-letter-spacing);
    line-height: var(--body-s-line-height);
    white-space: nowrap;
    font-style: var(--body-s-font-style);
}

.pricing-card-2 {
    position: relative;
    width: 19.1875rem;
    height: 31.5rem;
}

.rectangle-2 {
    position: absolute;
    width: 100%;
    height: 99.21%;
    top: 0;
    left: 0;
    border-radius: .625rem;
    box-shadow: 0rem .625rem 4.625rem .625rem #4e00bf69;
    background: linear-gradient(180deg, rgba(1, 0, 2, 1) 0%, rgba(54, 23, 100, 1) 100%);
}

.line-6 {
    position: absolute;
    width: 86.97%;
    height: 0;
    top: 20.24%;
    left: 6.51%;
    border: .0625rem solid rgba(40, 39, 41, 1);
}

.pattern {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0%;
    left: 0%;
}

.rectangle-2a {
    width: 100%;
    height: 30.3125rem;
    top: 0%;
    left: 0%;
    border-radius: .625rem;
    opacity: 1;
    background: linear-gradient(180deg, #000000 29%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
}

.CTA-3 {
    display: flex;
    width: 86.97%;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    padding: .375rem .9375rem;
    position: absolute;
    height: 7.54%;
    top: 88.49%;
    left: 6.51%;
    background-color: #8c45ff66;
    border-radius: .625rem;
    overflow: hidden;
    border: .0625rem solid;
    border-color: #ffffff26;
    box-shadow: inset 0rem 0rem .375rem .1875rem #ffffff40;
    backdrop-filter: blur(.4375rem) brightness(100%);
    -webkit-backdrop-filter: blur(.4375rem) brightness(100%);
}

.frame-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5625rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.pricing-rows-2 {
    display: flex;
    flex-direction: column;
    width: 10.1875rem;
    align-items: flex-start;
    position: relative;
    padding-left: 0;
}

.pricing-row-2 {
    /* margin-bottom: -2.1875rem; */
    display: flex;
    width: 10.1875rem; 
    align-items: center;
    gap: .3125rem;
    padding: .625rem 0rem;
    position: relative;
}

.pricing-row-3 {
    /* margin-bottom: -4.375rem; */
    display: flex;
    width: 10.1875rem;
    align-items: center;
    gap: .3125rem;
    padding: .625rem 0rem;
    position: relative;
}

.pricing-row-4 {
    /* margin-bottom: -6.5625rem; */
    display: flex;
    width: 10.1875rem;
    align-items: center;
    gap: .3125rem;
    padding: .625rem 0rem;
    position: relative;
}

.pricing-row-5 {
    /* margin-bottom: -8.75rem; */
    display: flex;
    width: 10.1875rem;
    align-items: center;
    gap: .3125rem;
    padding: .625rem 0rem;
    position: relative;
}

.toggle-text {
    display: flex;
    align-items: center;
    gap: .375rem;
    position: absolute;
    top: calc(50% - 9.25rem);
    left: calc(50% - 2.375rem);
}

.toggle-button {
    position: relative;
    width: 2.0625rem;
    height: 1.25rem;
    background-color: #8c45ff;
    border-radius: 1.875rem;
}

.rectangle-3 {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 21.45%;
    background-color: #f9f5ff;
    border-radius: 1.6875rem;
}

.billed-yearly {
    position: relative;
    width: fit-content;
    margin-top: -0.0625rem;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: #ffffff80;
    font-size: var(--heading-5-font-size);
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    white-space: nowrap;
    font-style: var(--heading-5-font-style);
}


/* CTA-Section */

.rectangle-4 {
    position: absolute;
    width: 98%;
    height: 42.875rem;
    /* background: linear-gradient(0.77deg, rgb(3 1 6) 29.33%, #361764c7 89.04%); */
}



.div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    position: relative;
    flex: 0 0 auto;
    width: 85%;
    left: 8%;
    height: 43.25rem;
    overflow: hidden;
}

.CTA-section {
    position: absolute;
    top: 1rem;
    left: 3.8125rem;
    width: 100%;
    height: 29.5625rem;
    overflow: hidden;
}

.eclipse {
    width: 80%;
    height: 70%;
    top: -6.25rem;
    left: 14.8%;
    opacity: 0.3;
    position: absolute;
    background: linear-gradient(179.77deg, rgb(3 1 6 / 83%) 29.33%, #361764ab 89.04%);
    /* backdrop-filter: blur(19rem); */
    border-radius: 50%;
}

.rectangle-5 {
    position: absolute;
    top: 1rem;
    left: 4.05%;
    width: 97%;
    height: 41.5625rem;
    border-radius: .625rem;
    border: .0625rem solid;
    border-color: #ffffff26;
    background: linear-gradient(0.77deg, rgb(3 1 6) 29.33%, #361764c7 89.04%);
}

.heading-5 {
    position: absolute;
    top: 7.25rem;
    left: calc(50% - 13.1875rem);
    width: 26.375rem;
    height: 8.25rem;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    letter-spacing: -0.0537rem;
    line-height: 4.0625rem;
    font-style: normal;
}

.frame-15 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: absolute;
    top: 21.375rem;
    left: calc(50% - 9.875rem);
}

.text-wrapper-24 {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: -0.0625rem;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff80;
    font-size: 1rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    white-space: nowrap;
    font-style: normal;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 91%;
    align-items: flex-start;
    gap: 0rem 30.1875rem;
    padding: 2.5625rem 2.8125rem;
    position: relative;
    flex: 0 0 auto;
    background-color: transparent;
    border: .0625rem solid;
    border-color: #ffffff26;
}

.logokit {
    position: relative;
    width: 8.6037rem;
    height: 2.375rem;
}

.frame-16 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3.75rem;
    position: relative;
    flex: 0 0 auto;
    left: 20%;
}

.frame-17 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;
    flex: 0 0 auto;
}

.text-wrapper-25 {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: -0.0625rem;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: .8125rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    white-space: nowrap;
    font-style: normal;
}

.text-wrapper-26 {
    align-items: center;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff80;
    font-size: .8125rem;
    letter-spacing: -0.0001rem;
    line-height: 1.625rem;
    white-space: nowrap;
    position: relative;
    display: flex;
    font-style: normal;
}

.text-wrapper-27 {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff80;
    font-size: .8125rem;
    letter-spacing: 0;
    line-height: 1.625rem;
    white-space: nowrap;
}

.frame-18 {
    position: relative;
    flex: 0 0 auto;
}


/* Mobile */

@media (max-width: 480px) {
      
    html {
        font-size: 14px;
    }     
    
    .hamburger{
        background-color: white;
        width: 2%;
        height: 10px;
        right: 0;
        position: absolute;
        display: block;
    }

    .a{
        width: fit-content;
        padding: 0.5rem;
    }
    .a a{
        padding: 0.8rem;
        display: none;
    }

    .btn1:hover{

    }

    .CTA{
        position: absolute;
        right: 10%;
    }
    .navbar{
        width: 100%;
    }

    .container{
       gap: 2rem;
    }

    .container .logo .logo-icon{
        position: relative;
        left: -11.5rem;
        
    }
    .nav-links {
        /* width: 90%;
        gap: 0.8rem;
        font-size: 0.8rem; */
        display: none;
    }

    .logos-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .Bento{
        padding: 1%;
    }
    .Frame32 {
        width: 95%;
    }

    .heading1 {
        font-size: 4.2rem;
        line-height: 5.1rem;
        width: 100%
        ;
    }

    .Body {
        width: 95%;
        font-size: 1rem;
    }


    .Bento-p {
        font-size: 2rem;
        width: 85%;
    }

    /* .Bento-1,
    .Bento-2 {
        flex-direction: column;
    } */
    .Bento-1{
        flex-direction: column;
        padding: 0;
    }
    .Bento-2{
        flex-direction: column;
        margin-inline: 0;
        width: 95%;
    }
    .image-div{
        position: relative;
    }

    .img-cyl{
        width: 50%;
    }
    .div-image-cyl{
        display: flex;
        justify-content: center;
    }
    .class-p{
        margin-left: 11%;
        margin-bottom: 10%;
    }
    .text{
        margin-left: 11%;
        margin-bottom: 10%;
        top: 50%;
    }

    .SEO{
        width: 100%;
        border-right: none;
    }
    .SEO-2{
        width: 100%;
        border-right: none;
        padding-bottom: 11%;
    }
    .User-friendly {
        width: 100%;
        border-right: none;
    }
    .User-friendly-2{
        width: 100%;
        height: 18.3125rem;
    }
    .rectangle-7, .rectangle-9, .rectangle-7a, .rectangle-9b{
        height: 100%;
    }
    .image-div1{
        position: relative;
        margin-left: 3%;
    }
    .image-div1 img{
        width: 100%;
    }
    .text1{
        margin-left: 6%;
        top: 47%;
    }
    .text1 p{
        font-size: 1.3rem;
        margin-bottom: 5%;
        font-family: Inter;
    }
    .text1 span{
        font-size: 1.25rem;
        font-family: Inter;
    }
    .img-conus{
        width: 50%;
        left: 23%;
        position: relative;
    }
    .class-p1{
        margin-left: 13%;
        
    }
    .class-p1 p{
        font-size: 1.3rem;
        font-family: Inter;
    }
    .class-p1 span{
        font-size: 1.25rem;
        font-family: Inter;
    }
    .text-wrapper-11, .text-wrapper-12, .text-wrapper-13, .text-wrapper-14{
        font-size: 1.2rem;
        line-height: 1.725rem;
        width: fit-content;
    }

    .feature {
        align-items: center;
    }
    .feature .show{
        display: none;
    }

    .heading-3 {
        width: 100%;
        font-size: 2rem;
        padding: 0;
        text-align: center;
    }

    .frame-3 {
        /* flex-direction: column; */
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        display: grid;
    }
    .AI-kit-feature, .AI-kit-feature-2, .AI-kit-feature-3{
        width: 80%;
    }

    .frame-4,
    .frame-6,
    .frame-7 {
        width: 100%;
        gap: 2.5rem;
        align-items: center;
    }

    .clients-section{
        padding: 0;
    }
    
    .testimonial-container{
        height: 43rem;
    }

    .testimonial-content .text-content{
        width: 85%;
        top: 63%;
        left: 6%;
        text-align: center;
    }
    .quote{
        font-size: 1.5rem;
        margin-bottom: 3%;
    }
    .glow-effect{
        left: 19%;
        top: 15%;
    }
    .avatar-container{
        width: 50%;
        top: 17%;
    }
    /* .text-content .quote{
        
    } */
    .line-1{
        left: 20%;
        height: 63%;
    }
    .line-2{
        left: 69.9%;
        height: 63%;
    }
    .line-3{
        top: 17%;
        width: 93%;
    }
    .line-4{
        top: 44.8%;
        width: 93%;
    }

    .pricing {
        padding: 2rem 1rem;
    }

    .frame-11 {
        flex-direction: column;
        width: 99%;
    }

    .text-wrapper-16{
        width: 70%;
    }

    .toggle-text{
        top: 17%;
    }

    .pricing-card{
        width: 70%;
        height: 34.5rem;
    }

    .pricing-card-2 {
        width: 100%;
    }

    .heading-5 {
        font-size: 3rem;
        line-height: 2.5rem;
        width: 90%;
        left: 5%;
    }

    .text-wrapper-24{
        font-size: 1rem;
    }

    .div-2{
        width: 98%;
        left: 0;
    }
    .rectangle-4, .rectangle-5, .eclipse{
        width: 100%;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 0;
    }

    .frame-16 {
        left: 0;
        gap: 2rem;
        width: 82%;
        display: grid;
        grid-row-start: 1;
    }

    .frame-18{
        top: -43.2rem;
        left: 13rem;
        width: 50%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    
    .container{
        width: 100%;
    }

    .hamburger{
        display: none;
    }

    .nav-links{
        gap: 0.875rem;
    }

    .Frame32 {
        width: 81%;
    }

    .heading1 {
        font-size: 5.5rem;
        line-height: 4.8rem;
        margin-block: 0;
    }

    .Body {
        width: 85%;
    }

    .logos-grid {
        grid-template-rows: repeat(2, 1fr);
        width: 90%;
    }
     
    .Bento{
        padding-inline: 3%;
    }

    .Bento-p{
        width: 73%;
    }

    
    .Bento-2 {
        width: 95%;
        padding-inline: 3%;
    }
    .Bento-1{
        width: 100%;
        padding-inline: 0;
    }

    .SEO,
    .SEO-2,
    .User-friendly,
    .User-friendly-2 {
        border-left: .0625rem solid rgba(255, 255, 255, 0.15);;
    }

    .feature{
      padding-inline-start: 0;
      padding-inline-end: 1rem;
      width: 99%;

    }

    .heading-3 {
        width: 100%;
        font-size: 4.5rem;
        padding-left: 0;
        text-align: start;
    }

    .glow-effect{
      left: 12%;
    }
    .line-1{
        left: 11.8%;
    }
    .line-2{
        left: 45.4%;
    }
    .line-4{
        top: 76.56%;
    }
    .avatar-container{
        width: 33.5%;
        left: 12%;
    }

    .quote{
        font-size: 1.3rem;
    }

    .frame-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-inline-start: 3%;
    }

    .frame-4,
    .frame-6,
    .frame-7 {
        width: 45%;
    }
    
    .frame-9{
        width: 100%;
    }
    .frame-11 {
        width: 100%;
    }

    .pricing {
        padding: 0;
    }

    .line-6{
        z-index: 1;
    }

    .div-2{
        width: 100%;
        left: 0;
    }

    .footer {
        gap: 2rem;
        padding-right: 0;
        width: 95%;
    }

    .frame-16 {
        justify-content: center;
        left: 5.5rem;
        gap: 30px;
    }
}